h1{color: white;}
th{margin-left: 12%}
body {padding-left: 5%; background-color: rgb(59, 131, 247); }
table{background-color: white; width: 100%}
#inventory{float: left}
#fLO{font-family: times; }
td{padding-right: 2em}
#yesOrNo{font-size:15px}
.threeSpaces{padding-right:1em}
.threeSpacesRight{padding-left:1em}
.lineThrough{text-decoration:line-through;}
#errorNote{color:red; font-size: small; border-style:; font-family:times}
#bord{border: solid}
#center{text-align:center}
#bord{border: solid; /*padding-right: 15em*/;text-align: center}
#lnr{border: solid;padding-left: 2em}
#at{text-decoration: underline}
#green{}
/*th{padding-right: 9em; }
*/
hr{margin: auto}
#delete{margin: auto}
#borda{border-style: solid black}
tr{margin: 5em;text-align:center; background-color: white}
#centered{margin-left: 05%; margin-right: 05%}
#slide{float:left }
/*tr{text-align: center}
input{padding-right: 2em;margin: auto}
#space{padding-right: 2em; padding-left: 2em}
#space1{padding-right: 15%}*/
#list{margin-left: 2em}
#goRight{padding-right: 4em;}
#boxit{margin-left: 10em}
.nav{color: white}
